footer{
    background-color: #34547A;
    height: 151px; 

    .privace{
        color: #FFF;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400; 
    margin-left: 406px;
     }
    
     .john{
        padding-top: 50px;
        margin-left: 406px;
     }
 }


 